https://research.fb.com/fast-randomized-svd/

In [110]:
import pandas as pd
import scipy 
import numpy as np
from scipy.linalg import svd

def df(a): 
    return pd.DataFrame(np.round(a, 2))

m, n = 5, 10
X = np.random.randn(m, n)
df(X)

      0     1     2     3     4     5     6     7     8     9
0  0.89  1.34 -0.28  1.26 -0.11 -0.06  0.52 -1.16 -1.08 -1.32
1 -0.52 -0.07  0.12  0.92  0.76  0.31 -0.04  0.05  1.01  0.97
2  1.50 -0.52 -1.12  1.36  0.19 -0.73 -1.29 -1.51 -1.13  2.50
3 -0.86  0.81  1.49  0.48  0.84 -0.22  1.45 -0.92 -1.72  0.98
4  1.17 -1.81  0.20  0.26 -0.31 -0.54 -0.09 -1.13  0.30  0.08

### `full_matrices=True`

In [111]:
U, s, Vh = svd(X, full_matrices=True)
S = np.zeros((m, n))
S[:m, :m] = np.diag(s)
np.allclose(U @ S @ Vh, X)

True

In [112]:
for top_m in range(m, 0, -1):
    S_top_m = np.zeros_like(S)
    S_top_m[:top_m] = S[:top_m]
    print(S_top_m)
    print('\n')
    print(((U @ S_top_m @ Vh - X)**2).sum())
    print('\n')

[[4.4622661  0.         0.         0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         3.67220239 0.         0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         0.         2.85796649 0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         0.         0.         2.05612294 0.         0.
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.         1.5434004  0.
  0.         0.         0.         0.        ]]


1.0039535762350393e-29


[[4.4622661  0.         0.         0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         3.67220239 0.         0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         0.         2.85796649 0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         0.         0.         2.05612294 0.         0.
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.        ]]


2.382084789285713


[[4.4622661  0.         0.         0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         3.67220239 0.         0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         0.         2.85796649 0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.        ]]


6.609726314118055


[[4.4622661  0.         0.         0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         3.67220239 0.         0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.        ]]


14.777698757684977


[[4.4622661 0.        0.        0.        0.        0.        0.
  0.        0.        0.       ]
 [0.        0.        0.        0.        0.        0.        0.
  0.        0.        0.       ]
 [0.        0.        0.        0.        0.        0.        0.
  0.        0.        0.       ]
 [0.        0.        0.        0.        0.        0.        0.
  0.        0.        0.       ]
 [0.        0.        0.        0.        0.        0.        0.
  0.        0.        0.       ]]


28.262769156207117

In [113]:
r = 3
df(U[:, :r] @ S[:r, :r] @ Vh[:r])

      0     1     2     3     4     5     6     7     8     9
0  0.93  1.13 -0.16  0.81 -0.29 -0.23  0.55 -1.16 -1.44 -1.28
1 -0.45 -0.34  0.23 -0.04  0.37 -0.00 -0.10  0.16  0.19  1.11
2  1.55 -0.91 -0.79  1.44  0.22 -0.79 -1.02 -1.76 -0.95  2.36
3 -0.94  1.26  1.14  0.72  0.94 -0.06  1.22 -0.72 -1.61  1.07
4  1.00 -0.71 -0.72  0.35 -0.27 -0.29 -0.78 -0.50  0.10  0.41

### `full_matrices=False`

In [114]:
U, s, Vh = svd(X, full_matrices=False)

np.allclose(U * s @ Vh, X)

True

In [115]:
for top_m in range(m, 0, -1):
    s_top_m = np.zeros_like(s)
    s_top_m[:top_m] = s[:top_m]
    print(s_top_m)
    print(((U * s_top_m @ Vh - X)**2).sum())

[4.4622661  3.67220239 2.85796649 2.05612294 1.5434004 ]
9.713668415760072e-30
[4.4622661  3.67220239 2.85796649 2.05612294 0.        ]
2.382084789285713
[4.4622661  3.67220239 2.85796649 0.         0.        ]
6.609726314118054
[4.4622661  3.67220239 0.         0.         0.        ]
14.777698757684977
[4.4622661 0.        0.        0.        0.       ]
28.262769156207117

In [116]:
k = 3
s_k = np.zeros_like(s)
s_k[:k] = s[:k]
df(U * s_k @ Vh)

      0     1     2     3     4     5     6     7     8     9
0  0.93  1.13 -0.16  0.81 -0.29 -0.23  0.55 -1.16 -1.44 -1.28
1 -0.45 -0.34  0.23 -0.04  0.37 -0.00 -0.10  0.16  0.19  1.11
2  1.55 -0.91 -0.79  1.44  0.22 -0.79 -1.02 -1.76 -0.95  2.36
3 -0.94  1.26  1.14  0.72  0.94 -0.06  1.22 -0.72 -1.61  1.07
4  1.00 -0.71 -0.72  0.35 -0.27 -0.29 -0.78 -0.50  0.10  0.41