In [139]:
from sklearn.decomposition import TruncatedSVD
from sklearn.decomposition import PCA
from sklearn.preprocessing import normalize

import pandas as pd
import scipy 
import numpy as np

def df(a): 
    return pd.DataFrame(np.round(a, 2))

In [155]:
m, n = 7, 10
X = np.random.randn(m, n)
df(X)

      0     1     2     3     4     5     6     7     8     9
0  0.33  0.22  1.29  1.86  0.82  1.50  0.04  0.32  1.71 -0.90
1 -0.30 -0.68 -0.14 -0.78  2.46 -0.39  0.15  0.04  0.42  0.27
2 -0.78  2.23  1.46  0.88 -1.13 -1.01  0.54  1.55 -0.62  2.24
3 -0.50  0.01  1.51 -0.75 -2.42 -1.95  0.79  1.68  0.43  1.07
4  1.68 -1.04 -0.16 -0.90  1.19 -0.89  0.86 -0.09 -1.79 -0.94
5  0.85  0.04 -0.23  0.46 -0.43 -0.36  1.93  0.37  0.04 -1.19
6 -1.18 -0.23 -0.23 -1.12 -0.98  1.05  0.85  0.45 -1.36  0.85

## PCA

In [157]:
pca = PCA(n_components=10)
df(pca.fit_transform(X))

      0     1     2     3     4     5    6
0 -1.38  3.37  0.16  0.39 -0.24 -0.47  0.0
1 -2.05 -0.12 -1.61 -1.28 -0.61  0.49  0.0
2  3.26  0.70 -0.62 -0.60  1.44  0.09  0.0
3  2.90 -0.69  1.01 -0.64 -1.38 -0.23  0.0
4 -2.40 -2.01  0.69 -0.50  0.78 -0.65  0.0
5 -0.89  0.02  1.74  0.67  0.26  0.85  0.0
6  0.57 -1.27 -1.37  1.96 -0.25 -0.09  0.0

In [159]:
pca = PCA(n_components=9)
df(pca.fit_transform(X))

      0     1     2     3     4     5    6
0 -1.38  3.37  0.16  0.39 -0.24 -0.47  0.0
1 -2.05 -0.12 -1.61 -1.28 -0.61  0.49  0.0
2  3.26  0.70 -0.62 -0.60  1.44  0.09  0.0
3  2.90 -0.69  1.01 -0.64 -1.38 -0.23  0.0
4 -2.40 -2.01  0.69 -0.50  0.78 -0.65  0.0
5 -0.89  0.02  1.74  0.67  0.26  0.85  0.0
6  0.57 -1.27 -1.37  1.96 -0.25 -0.09  0.0

In [160]:
pca = PCA(n_components=6)
df(pca.fit_transform(X))

      0     1     2     3     4     5
0 -1.38  3.37  0.16  0.39 -0.24 -0.47
1 -2.05 -0.12 -1.61 -1.28 -0.61  0.49
2  3.26  0.70 -0.62 -0.60  1.44  0.09
3  2.90 -0.69  1.01 -0.64 -1.38 -0.23
4 -2.40 -2.01  0.69 -0.50  0.78 -0.65
5 -0.89  0.02  1.74  0.67  0.26  0.85
6  0.57 -1.27 -1.37  1.96 -0.25 -0.09

In [161]:
pca.explained_variance_ratio_

array([0.43729857, 0.24483974, 0.12821896, 0.09671712, 0.0699838 ,
       0.02294181])

In [163]:
pca = PCA(n_components=4)
df(pca.fit_transform(X))

      0     1     2     3
0 -1.38  3.37  0.16  0.39
1 -2.05 -0.12 -1.61 -1.28
2  3.26  0.70 -0.62 -0.60
3  2.90 -0.69  1.01 -0.64
4 -2.40 -2.01  0.69 -0.50
5 -0.89  0.02  1.74  0.67
6  0.57 -1.27 -1.37  1.96

In [164]:
pca.singular_values_

array([5.66347018, 4.23774236, 3.0666889 , 2.66345443])

In [165]:
pca.explained_variance_ratio_

array([0.43729857, 0.24483974, 0.12821896, 0.09671712])

In [166]:
df(pca.components_)

      0     1     2     3     4     5     6     7     8     9
0 -0.29  0.33  0.25  0.03 -0.62 -0.22  0.01  0.30 -0.02  0.46
1 -0.05  0.27  0.27  0.60  0.12  0.34 -0.16  0.04  0.57 -0.08
2  0.51 -0.06  0.09  0.21 -0.44 -0.33  0.32  0.07  0.12 -0.51
3 -0.18 -0.04 -0.24  0.03 -0.48  0.73  0.22 -0.11 -0.21 -0.20

## TruncatedSVD

In [168]:
trun_svd = TruncatedSVD(n_components=9)
df(trun_svd.fit_transform(X))

      0     1     2     3     4     5     6
0 -0.87  2.98  1.12  0.02 -0.32  0.84 -0.55
1 -1.38 -0.46 -0.36  2.04  0.19  1.04  0.40
2  3.90  0.66  0.07  1.10 -1.37 -0.37  0.07
3  3.65 -0.79  1.09  0.16  1.42  0.51 -0.25
4 -1.50 -2.50  1.41  0.59 -0.71 -0.19 -0.66
5 -0.08 -0.42  2.15 -0.83 -0.52  0.40  0.80
6  1.16 -1.31 -1.31 -1.07 -0.83  1.29 -0.19

In [169]:
trun_svd = TruncatedSVD(n_components=5)
df(trun_svd.fit_transform(X))

      0     1     2     3     4
0 -0.87  2.98  1.12  0.02 -0.32
1 -1.38 -0.46 -0.36  2.04  0.19
2  3.90  0.66  0.07  1.10 -1.37
3  3.65 -0.79  1.09  0.16  1.42
4 -1.50 -2.50  1.41  0.59 -0.71
5 -0.08 -0.42  2.15 -0.83 -0.52
6  1.16 -1.31 -1.31 -1.07 -0.83

In [170]:
trun_svd = TruncatedSVD(n_components=4)
df(trun_svd.fit_transform(X))

      0     1     2     3
0 -0.87  2.98  1.12  0.02
1 -1.38 -0.46 -0.36  2.04
2  3.90  0.66  0.07  1.10
3  3.65 -0.79  1.09  0.16
4 -1.50 -2.50  1.41  0.59
5 -0.08 -0.42  2.15 -0.83
6  1.16 -1.31 -1.31 -1.07

In [173]:
trun_svd.singular_values_

array([5.89655525, 4.27818893, 3.30664388, 2.75406277])

In [174]:
trun_svd.explained_variance_ratio_

array([0.42756199, 0.24301031, 0.11505583, 0.09551205])

In [175]:
df(trun_svd.components_)

      0     1     2     3     4     5     6     7     8     9
0 -0.25  0.31  0.30  0.01 -0.58 -0.27  0.12  0.36 -0.05  0.45
1 -0.11  0.29  0.24  0.58  0.05  0.36 -0.23  0.01  0.57 -0.02
2  0.51 -0.04  0.26  0.26 -0.06 -0.35  0.47  0.22  0.14 -0.44
3  0.00  0.09  0.26 -0.05  0.73 -0.47 -0.13  0.16  0.09  0.36

In [176]:
pca = PCA(n_components=4)
trun_svd = TruncatedSVD(n_components=4)
df(trun_svd.fit_transform(X) - pca.fit_transform(X))

      0     1     2     3
0  0.51 -0.38  0.96 -0.36
1  0.67 -0.34  1.25  3.32
2  0.64 -0.04  0.69  1.70
3  0.75 -0.10  0.08  0.80
4  0.91 -0.49  0.72  1.08
5  0.81 -0.44  0.42 -1.50
6  0.59 -0.04  0.06 -3.03