In [12]:
from sklearn.decomposition import TruncatedSVD
from sklearn.decomposition import PCA

import pandas as pd
import scipy 
import numpy as np

def df(a): 
    return pd.DataFrame(np.round(a, 2))

In [13]:
m, n = 10, 5
X = np.random.randn(m, n)
df(X)

      0     1     2     3     4
0  1.25 -0.97  0.52 -0.70  1.48
1  0.39 -3.20 -0.84 -0.52  0.67
2  0.73 -1.00  0.25  1.68 -0.00
3 -0.73 -0.30 -1.37 -0.40 -0.98
4 -0.77  0.47  0.54  0.99  1.55
5  0.94 -0.50 -0.15 -0.78 -0.67
6 -0.87 -0.51 -0.08  0.19  1.77
7 -0.05  0.68  0.31 -2.53 -0.78
8  0.27 -1.11  1.14 -1.30  0.78
9  0.74  1.55 -0.17  0.86  0.59

## PCA

In [14]:
pca = PCA(n_components=4)
df(pca.fit_transform(X))

      0     1     2     3
0 -0.26 -0.77 -1.18 -0.76
1 -1.61 -2.28  0.56  0.30
2  1.01 -0.97  1.07 -0.98
3 -0.59  0.87  1.70  0.93
4  2.01 -0.03 -0.51  0.71
5 -0.92  0.58  0.53 -0.81
6  0.93 -0.65 -0.53  1.23
7 -1.55  2.33 -0.59  0.18
8 -0.88 -0.27 -1.30 -0.11
9  1.86  1.18  0.25 -0.70

In [17]:
pca.singular_values_

array([4.0459709 , 3.88578161, 2.94423264, 2.38573799])

In [19]:
pca.explained_variance_ratio_

array([0.34473634, 0.31797893, 0.18255167, 0.11986353])

## TruncatedSVD

In [15]:
trun_svd = TruncatedSVD(n_components=4)
df(trun_svd.fit_transform(X))

      0     1     2     3
0  1.71 -0.43  1.22 -0.76
1  3.28 -0.19 -0.93  0.30
2  0.52 -1.43 -0.96 -0.99
3 -0.01  0.98 -1.30  0.92
4 -0.43 -1.73  0.89  0.71
5  0.66  1.00 -0.25 -0.81
6  0.73 -1.26  0.71  1.23
7 -0.06  2.51  1.12  0.18
8  1.64  0.37  1.31 -0.11
9 -1.35 -0.86  0.45 -0.70

In [21]:
df(trun_svd.fit_transform(X) - pca.fit_transform(X))

      0     1     2     3
0  1.97  0.33  2.40  0.00
1  4.89  2.09 -1.49 -0.00
2 -0.49 -0.46 -2.04 -0.00
3  0.58  0.11 -3.00 -0.01
4 -2.44 -1.70  1.40 -0.00
5  1.58  0.42 -0.78 -0.00
6 -0.20 -0.62  1.24 -0.00
7  1.48  0.18  1.71 -0.00
8  2.52  0.64  2.61  0.00
9 -3.21 -2.03  0.20 -0.00

In [16]:
trun_svd.singular_values_

array([4.43150173, 3.99799994, 3.08218949, 2.38574889])

In [20]:
trun_svd.explained_variance_ratio_

array([0.31930456, 0.33433723, 0.18935717, 0.11986397])